<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card class="login-card">
      <img src="../../assets/plataforma_one_health_cover.png" alt="Login Image" class="login-image" />

      <ion-card-content>
        <ion-label class="login-label">Introduce el ID suministrado</ion-label>

        <ion-item class="custom-input">
          <ion-input type="text" [(ngModel)]="userId" placeholder="Tu ID"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()">Entrar</ion-button>

        <ion-button expand="block" fill="clear" (click)="redirectToNewID()">
          ¿No recuerdas tu ID?
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
