<div class="form-container">

  <p  *ngIf="formType === 'formularioNoche'">¿Cómo te has sentido hoy?</p>

  <div *ngIf="formType === 'formularioMañana'">
    <ion-item button (click)="openTimePicker('wakeUpTime')">
      <ion-label>Hora a la que te has despertado:</ion-label>
      <ion-text>{{ wakeUpTime || 'Seleccionar hora' }}</ion-text>
    </ion-item>

    <ion-item button (click)="openTimePicker('sleepTime')">
      <ion-label>Hora a la que te has acostado:</ion-label>
      <ion-text>{{ sleepTime || 'Seleccionar hora' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Grado de descanso</ion-label>
      <ion-range [(ngModel)]="restLevel" name="restLevel" min="1" max="10" step="1" snaps="true"></ion-range>
      <p class="value-display">{{ restLevel }}</p>
    </ion-item>
  </div>

  <div *ngIf="formType === 'formularioNoche'">
    <ion-item>
      <ion-label>Nivel medio de ansiedad</ion-label>
      <ion-range [(ngModel)]="avgAnxietyLevel" name="avgAnxietyLevel" min="1" max="10" step="1" snaps="true"></ion-range>
      <p class="value-display">{{ avgAnxietyLevel || '-' }}</p>
    </ion-item>

    <ion-item>
      <ion-label>Máximo nivel de ansiedad</ion-label>
      <ion-range [(ngModel)]="maxAnxietyLevel" name="maxAnxietyLevel" min="1" max="10" step="1" snaps="true"></ion-range>
      <p class="value-display">{{ maxAnxietyLevel || '-' }}</p>
    </ion-item>

    <ion-item>
      <ion-label>Grado medio de tristeza</ion-label>
      <ion-range [(ngModel)]="sadnessLevel" name="sadnessLevel" min="1" max="10" step="1" snaps="true"></ion-range>
      <p class="value-display">{{ sadnessLevel || '-' }}</p>
    </ion-item>

    <ion-item>
      <ion-label>Grado medio de alegría</ion-label>
      <ion-range [(ngModel)]="happinessLevel" name="happinessLevel" min="1" max="10" step="1" snaps="true"></ion-range>
      <p class="value-display">{{ happinessLevel || '-' }}</p>
    </ion-item>

    <ion-item>
      <ion-label>Grado de desgana</ion-label>
      <ion-range [(ngModel)]="apathyLevel" name="apathyLevel" min="1" max="10" step="1" snaps="true"></ion-range>
      <p class="value-display">{{ apathyLevel || '-' }}</p>
    </ion-item>

    <ion-item>
      <ion-label>Nivel medio de energía</ion-label>
      <ion-range [(ngModel)]="avgEnergyLevel" name="avgEnergyLevel" min="1" max="10" step="1" snaps="true"></ion-range>
      <p class="value-display">{{ avgEnergyLevel || '-' }}</p>
    </ion-item>
  </div>

  <ion-button expand="full" class="submit-btn" (click)="submitForm()">
    Enviar
  </ion-button>
</div>