<div class="form-container" *ngIf="!formularioCompleto">

  <p *ngIf="formType === 'formularioNoche'">¿Cómo te has sentido hoy?</p>

  <div *ngIf="formType === 'formularioMañana'">
    <div *ngIf="showInfoMessage" class="info-box">
      <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
      <div class="info-text">
        <strong>Nota:</strong> Puedes consultar la siguiente información solicitada directamente en los <em>ajustes de uso del dispositivo móvil</em>.
      </div>
      <button class="close-btn" (click)="showInfoMessage = false">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>
    
    <div class="range-container" [ngClass]="{ 'error-border': formSubmitted && !sleepTime }" (click)="openTimePicker('sleepTime')" >
      <ion-label class="label">Hora y día a la que te has acostado:</ion-label>
      <ion-text class="picker-text">
        {{ sleepTime ? (sleepTime | date: 'short') : 'Seleccionar hora' }}
      </ion-text>
    </div>
  
    <div class="range-container" [ngClass]="{ 'error-border': formSubmitted && !wakeUpTime }" (click)="openTimePicker('wakeUpTime')" >
      <ion-label class="label">Hora y día a la que te has despertado:</ion-label>
      <ion-text class="picker-text">
        {{ wakeUpTime ? (wakeUpTime | date: 'short') : 'Seleccionar hora' }}
      </ion-text>
    </div>

    <div [ngClass]="{'error-border': formSubmitted && restLevel === null}" class="range-container">
      <ion-label class="label">Grado medio de descanso:</ion-label>
      <div class="range-row">
        <ion-range
          [(ngModel)]="restLevel"
          name="restLevel"
          min="1"
          max="10"
          step="1"
          snaps="true"
          class="range-slider">
        </ion-range>
        <p class="value-display">{{ restLevel || '-' }}</p>
      </div>
    </div>

    <div class="range-container" [ngClass]="{ 'error-border': formSubmitted && screenTime === null }" (click)="openNumberPicker('screenTime', 200)" >
      <ion-label class="label">Número de horas de uso de pantalla ayer:</ion-label>     
      <ion-text class="value-display">
      {{ screenTime !== null ? screenTime : 'Seleccionar' }}
      </ion-text>
    </div>

   <!-- 
    <ion-item lines="none" [ngClass]="{'error-border': formSubmitted && !screenTime}">
      <ion-label class="wheel-label">Número de horas de uso de pantalla ayer:</ion-label>
      <div class="custom-wheel-container">
      <div class="custom-wheel" 
         [ngStyle]="{'margin-top': (screenTime === null || screenTime === 0) ? '15px' : '0'}" 
         (scroll)="onScroll($event, 'screenTime')">
        <div *ngFor="let num of numbersHours" class="wheel-option" [ngClass]="{'selected': num === screenTime}">
        {{ num }}
        </div>
      </div>
      </div>
    </ion-item>
  -->
    <div class="range-container" [ngClass]="{ 'error-border': formSubmitted && unlocks === null }" (click)="openNumberPicker('unlocks', 24)" >
      <ion-label class="label">Número de desbloqueos de tu teléfono ayer:</ion-label>     
      <ion-text class="value-display">
      {{ unlocks !== null ? unlocks : 'Seleccionar' }}
      </ion-text>
    </div>

  <!--
    <ion-item lines="none" [ngClass]="{'error-border': formSubmitted && !unlocks}">
      <ion-label class="wheel-label">Número de desbloqueos de tu teléfono ayer:</ion-label>
      <div class="custom-wheel-container">
      <div class="custom-wheel" 
         [ngStyle]="{'margin-top': (unlocks === null || unlocks === 0) ? '15px' : '0'}" 
         (scroll)="onScroll($event, 'unlocks')">
        <div *ngFor="let num of numberUnlocks" class="wheel-option" [ngClass]="{'selected': num === unlocks}">
        {{ num }}
        </div>
      </div>
      </div>
    </ion-item>
-->

    <div class="range-container" [ngClass]="{ 'error-border': formSubmitted && instagramTime === null }" (click)="openNumberPicker('instagramTime',24)" >
      <ion-label class="label">Tiempo que utilizaste la aplicación de Instagram ayer:</ion-label>     
      <ion-text class="value-display">
        {{ instagramTime !== null ? instagramTime : 'Seleccionar' }}
      </ion-text>
    </div>

<!--
    <ion-item lines="none" [ngClass]="{'error-border': formSubmitted && !instagramTime}">
      <ion-label class="wheel-label">Tiempo que utilizaste la aplicación de Instagram ayer:</ion-label>
      <div class="custom-wheel-container">
      <div class="custom-wheel" 
         [ngStyle]="{'margin-top': (instagramTime === null || instagramTime === 0) ? '15px' : '0'}" 
         (scroll)="onScroll($event, 'instagramTime')">
        <div *ngFor="let num of numbersHours" class="wheel-option" [ngClass]="{'selected': num === instagramTime}">
        {{ num }}
        </div>
      </div>
      </div>
    </ion-item>
-->

    <div class="range-container" [ngClass]="{ 'error-border': formSubmitted && tiktokTime === null }" (click)="openNumberPicker('tiktokTime',24)" >
      <ion-label class="label">Tiempo que utilizaste la aplicación de Tiktok ayer:</ion-label>     
      <ion-text class="value-display">
        {{ tiktokTime !== null ? tiktokTime : 'Seleccionar' }}
      </ion-text>
    </div>


<!--
    <ion-item lines="none" [ngClass]="{'error-border': formSubmitted && !tiktokTime}">
      <ion-label class="wheel-label">Tiempo utilizaste la aplicación de Tiktok ayer:</ion-label>
      <div class="custom-wheel-container">
      <div class="custom-wheel" 
         [ngStyle]="{'margin-top': (tiktokTime === null || tiktokTime === 0) ? '15px' : '0'}" 
         (scroll)="onScroll($event, 'tiktokTime')">
        <div *ngFor="let num of numbersHours" class="wheel-option" [ngClass]="{'selected': num === tiktokTime}">
        {{ num }}
        </div>
      </div>
      </div>
    </ion-item>
-->
    <div class="app-usage-ranking">
      <h3 class="ranking-title">Top aplicaciones mas usadas</h3>
      <p> Ordena las siguientes apps de mayor a menor uso en función del uso que has hecho de cada una.</p>
      <div cdkDropList [cdkDropListData]="topApps" class="ranking-list" (cdkDropListDropped)="drop($event)">
        <div class="ranking-item" *ngFor="let app of topApps; let i = index" cdkDrag>
          <span class="ranking-number">{{ i + 1 }}.</span>
          <span class="app-name">{{ app }}</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="formType === 'formularioNoche'">
    <div [ngClass]="{'error-border': formSubmitted && avgAnxietyLevel === null}" class="range-container">
      <ion-label class="label">Nivel medio de ansiedad</ion-label>
      <div class="range-row">
        <ion-range
          [(ngModel)]="avgAnxietyLevel"
          name="avgAnxietyLevel"
          min="1"
          max="10"
          step="1"
          snaps="true"
          class="range-slider">
        </ion-range>
        <p class="value-display">{{ avgAnxietyLevel || '-' }}</p>
      </div>
    </div>

    <div [ngClass]="{'error-border': formSubmitted && maxAnxietyLevel === null}" class="range-container">
      <ion-label class="label">Máximo nivel de ansiedad</ion-label>
      <div class="range-row">
        <ion-range
          [(ngModel)]="maxAnxietyLevel"
          name="maxAnxietyLevel"
          min="1"
          max="10"
          step="1"
          snaps="true"
          class="range-slider">
        </ion-range>
        <p class="value-display">{{ maxAnxietyLevel || '-' }}</p>
      </div>
    </div>

    <div [ngClass]="{'error-border': formSubmitted && sadnessLevel === null}" class="range-container">
      <ion-label class="label">Grado medio de tristeza</ion-label>
      <div class="range-row">
        <ion-range
          [(ngModel)]="sadnessLevel"
          name="sadnessLevel"
          min="1"
          max="10"
          step="1"
          snaps="true"
          class="range-slider">
        </ion-range>
        <p class="value-display">{{ sadnessLevel || '-' }}</p>
      </div>
    </div>

    <div [ngClass]="{'error-border': formSubmitted && happinessLevel === null}" class="range-container">
      <ion-label class="label">Grado medio de alegría</ion-label>
      <div class="range-row">
        <ion-range
          [(ngModel)]="happinessLevel"
          name="happinessLevel"
          min="1"
          max="10"
          step="1"
          snaps="true"
          class="range-slider">
        </ion-range>
        <p class="value-display">{{ happinessLevel || '-' }}</p>
      </div>
    </div>

    <div [ngClass]="{'error-border': formSubmitted && apathyLevel === null}" class="range-container">
      <ion-label class="label">Grado de desgana</ion-label>
      <div class="range-row">
        <ion-range
          [(ngModel)]="apathyLevel"
          name="apathyLevel"
          min="1"
          max="10"
          step="1"
          snaps="true"
          class="range-slider">
        </ion-range>
        <p class="value-display">{{ apathyLevel || '-' }}</p>
      </div>
    </div>

    <div [ngClass]="{'error-border': formSubmitted && avgEnergyLevel === null}" class="range-container">
      <ion-label class="label">Nivel medio de energía</ion-label>
      <div class="range-row">
        <ion-range
          [(ngModel)]="avgEnergyLevel"
          name="avgEnergyLevel"
          min="1"
          max="10"
          step="1"
          snaps="true"
          class="range-slider">
        </ion-range>
        <p class="value-display">{{ avgEnergyLevel || '-' }}</p>
      </div>
    </div>

  </div>

  <!-- Error -->
  <div *ngIf="formError" class="error-message">
    {{ formError }}
  </div>

  <ion-button expand="full" class="submit-btn" (click)="submitForm()">
    Enviar
  </ion-button>

</div>
<div class="form-container2" *ngIf="formularioCompleto">
  <span class="check">✔</span>
  <p>Formulario completado exitosamente</p>
</div>