/* Estilos generales */
.stats-card {
    max-width: 350px;
    margin: auto;
    padding: 16px 16px 1px 16px;
    border-radius: 12px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

/* Estilo para cada bloque */
.stat-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Título del card */
ion-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    span{
        margin-left: 8px;
    }
}

/* Títulos */
.section-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Contenedor de tiempo total del día */
.time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eef3f7;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #2c3e50;
    max-width: 200px;
    margin: auto;
}

.time-icon {
    font-size: 18px;
    margin-right: 6px;
    color: #3498db;
}

/* Cambio de colores de la diferencia de tiempo */
.usage-change {
    font-size: 0.85rem;
    margin-top: 5px;
    font-weight: bold;
}

.positive {
    color: #27ae60;
}

.negative {
    color: #e74c3c;
}

.neutral {
    color: #7f8c8d;
}

/* Top 3 Apps Más Usadas */
.apps-row {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.app-container {
    flex: 1;
    margin: 4px;
    padding: 10px;
    border-radius: 8px;
    background: #eef3f7;
    text-align: center;
}

.app-icon {
    font-size: 20px;
    color: #3498db;
}

.app-name {
    font-size: 0.71rem;
    font-weight: 500;
    color: #333;
}

.app-time {
    font-size: 0.8rem;
    color: #666;
}

/* Número de desbloqueos */
.unlock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eef3f7;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #2c3e50;
    max-width: 180px;
    margin: auto;
}

.unlock-icon {
    font-size: 20px;
    font-weight: bold;
    margin-right: 6px;
    color: #3498db;
}

.unlock-value {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}
