<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Formularios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <app-header-buenos-dias-noches [isMorning]="formularioType"></app-header-buenos-dias-noches>

  <!-- Formulario -->
  <ng-container *ngIf="!formularioCompleto; else showCompletedMessage">
    <app-formulario [formType]="formularioType"></app-formulario>
  </ng-container>
  <ng-template #showCompletedMessage>
    <p class="completed-message">Ya se ha rellenado el formulario.</p>
  </ng-template>
  
</ion-content>