<ion-content [fullscreen]="true">
  <div class="spacer_header"></div>

  <!-- Avisos / Recomendacciones -->
  <!-- Mostrar avisos de datos anormales que se detectan -->  <!-- Mostrar recomendaciones en base a as predicciones realizadas -->
  <app-carousel-dash></app-carousel-dash>
  
  <!-- Datos de sueño -->
  <app-dream-summary></app-dream-summary>

  <!-- Datos de uso del móvil -->
  <app-mobile-usage-stats></app-mobile-usage-stats>

  <!-- Gráficas de ansiedad y estrés -->
  <div class="carousel-container" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
    <!-- Flecha de retroceso usando Ion Icon -->
    <ion-icon name="chevron-back-outline" class="carousel-btn left" (click)="prevSlide()"></ion-icon>

    <!-- Contenedor deslizante de las gráficas -->
    <div class="carousel-content" [style.transform]="'translateX(-' + (graficaActual * 100) + '%)'">
      <app-time-value-graph [graphTitle]="'Anxiety Statistics'"></app-time-value-graph>
      <app-time-value-graph [graphTitle]="'Stress Statistics'"></app-time-value-graph>
    </div>

    <!-- Flecha de avance usando Ion Icon -->
    <ion-icon name="chevron-forward-outline" class="carousel-btn right" (click)="nextSlide()"></ion-icon>
  </div>
  <!-- Indicadores carrusel de gráficas -->
  <div class="indicators">
    <span *ngFor="let i of [0, 1]" [class.active]="graficaActual === i"></span>
  </div>

  <!-- Datos Biométricos -->
  <app-biometric-data-sumary></app-biometric-data-sumary>

</ion-content>