<ion-content [fullscreen]="true">
  <div class="spacer_header"></div>

  <app-header-daswahere></app-header-daswahere>

  <div class="no-data-box" *ngIf="!dataAvailable">
    <ion-icon name="information-circle-outline" class="no-data-icon"></ion-icon>
    <p>
      <strong>No hay datos para mostrar.</strong><br><br><s></s>
      Completa los formularios y permite la recopilación de datos de tu dispositivo y wereables, para poder visionarlos aquí.
    </p>
  </div>
  
  <!-- Circulo indicador de ansiedad -->
  <app-anxiety-circle-level *ngIf="dataAvailable"></app-anxiety-circle-level>

  <!-- Mostrar recomendaciones en base a as predicciones realizadas -->
  <app-carousel-dash *ngIf="dataAvailable"></app-carousel-dash>

  <!-- Datos de sueño -->
  <app-dream-summary *ngIf="dataAvailable"></app-dream-summary>

  <!-- Datos de uso del móvil -->
  <app-mobile-usage-stats *ngIf="dataAvailable"></app-mobile-usage-stats>

  <!-- Gráfica nivel de ansiedad-->
  <app-time-value-graph *ngIf="dataAvailable" graphTitle="Registro de Ansiedad"></app-time-value-graph>

  <!-- Datos Biométricos -->
  <app-biometric-data-sumary *ngIf="dataAvailable"></app-biometric-data-sumary>

</ion-content>