<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My data</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Datos de sueño -->
  <app-dream-summary></app-dream-summary>

  <!-- Avisos -->
  <app-carousel-dash [tipoCarrusel]="'Avisos'"></app-carousel-dash> <!-- Mostrar avisos de datos anormales que se detectan -->
  <!-- Recomendaciones -->
  <app-carousel-dash [tipoCarrusel]="'Recomendaciones'"></app-carousel-dash> <!-- Mostrar recomendaciones en base a as predicciones realizadas -->

  <!-- Datos de uso del móvil -->
  <app-mobile-usage-stats></app-mobile-usage-stats>

  <div class="carousel-container">
    <button (click)="cambiarGrafica(-1)">⬅️</button>
  
    <!-- Nivel de ansiedad -->
    <app-time-value-graph *ngIf="graficaActual === 0" [graphTitle]="'Anxiety Statistics'"></app-time-value-graph>
    <!-- Nivel de estrés -->
    <app-time-value-graph *ngIf="graficaActual === 1" [graphTitle]="'Stress Statistics'"></app-time-value-graph>
  
    <button (click)="cambiarGrafica(1)">➡️</button>
  </div>

  

  <!-- Datos Biométricos -->
  <app-biometric-data-sumary></app-biometric-data-sumary>

</ion-content>
