<ion-card class="graph-card" *ngIf="dataAvailable">
  <!-- Encabezado -->
  <ion-card-header class="graph-card-header">
    <ion-card-title class="graph-title">
      <ion-icon name="bar-chart" class="icon-chart"></ion-icon>
      <span>{{ graphTitle || 'Graph Summary' }}</span>
    </ion-card-title>
  </ion-card-header>

  <!-- Contenido -->
  <ion-card-content class="graph-content">
    <div *ngIf="data && data.length > 0; else noData">
      <canvas #chartCanvas class="graph-canvas"></canvas>
    </div>

    <ng-template #noData>
      <p class="no-data-text">No data available for the graph.</p>
    </ng-template>
  </ion-card-content>
</ion-card>
