<div class="user-profile">
  <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
  <p class="user-id">{{ userId }}</p>
  
  <div class="button-container">
    <ion-button fill="outline" class="copy-button" (click)="copyUserId()">
      <ion-icon name="copy-outline"></ion-icon>
      Copiar ID
    </ion-button>

    <ion-button fill="outline" class="privacy-button" (click)="downloadPrivacyPolicy()">
      <ion-icon name="shield-checkmark-outline" class="privacity-icon"></ion-icon>
      Consultar Bases del Estudio
    </ion-button>
    
  <ion-button fill="outline" class="logout-button" (click)="logout()">
    <ion-icon name="log-out-outline"></ion-icon>
    Logout
  </ion-button>
  

  <br><br><br><br>
  <p class="app-version">version 2.0</p>
</div>
</div>